@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@theme {
  --color-diatomic-nonmetal: #3e6418;
  --color-noble-gas: #3a2151;
  --color-alkali-metal: #6c3b04;
  --color-alkaline-earth-metal: #846011;
  --color-metalloid: #015146;
  --color-polyatomic-nonmetal: #3e6418;
  --color-post-transition-metal: #003666;
  --color-transition-metal: #711019;
  --color-lanthanide: #402c17;
  --color-actinide: #732e4c;
  --color-unknown: #222222;
  --font-raleway: raleway;
}
