@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-diatomic-nonmetal: #9ece6a;
  --color-noble-gas: #bb9af7;
  --color-alkali-metal: #ff9e64;
  --color-alkaline-earth-metal: #e0af68;
  --color-metalloid: #73daca;
  --color-polyatomic-nonmetal: #9ece6a;
  --color-post-transition-metal: #2ac3de;
  --color-transition-metal: #f7768e;
  --color-lanthanide: #7aa2f7;
  --color-actinide: #7dcfff;
  --color-unknown-probably-transition-metal: #c7364e;
  --color-unknown-probably-post-transition-metal: #0a938e;
  --color-unknown-probably-metalloid: #438a9a;
  --color-unknown-predicted-to-be-noble-gas: #8b6ac7;
  --color-light: #fff;
  --color-dark-back: #1a1b26;
  --color-back: #24283b;
  --color-med: #414868;
  --font-raleway: raleway;
}
